<template lang="html">
            <section class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <h2 class="text-uppercase title-bottom">CONTACTs</h2>
                        <ul class="list-icon">
                            <li v-for="contact in contacts">
                                <span class="icon icon-home"></span>
                                <strong>{{contact.name}} :</strong> {{contact.value}}
                            </li>
                        </ul>
                        <div class="divider divider--sm"></div>
                        <div class="social-links social-links--large">
                            <ul>
                                <li><a class="icon fa fa-facebook" href="http://www.facebook.com/"></a></li>
                                <li><a class="icon fa fa-twitter" href="http://www.twitter.com/"></a></li>
                                <li><a class="icon fa fa-google-plus" href="http://www.google.com/"></a></li>
                                <li><a class="icon fa fa-instagram" href="https://instagram.com/"></a></li>
                                <li><a class="icon fa fa-youtube-square" href="https://www.youtube.com/"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9  col-sm-12">
                        <div class="divider divider--lg visible-xs"></div>
                        <h2 class="text-uppercase title-bottom">GET IN TOUCH WITH US</h2>
                        <form id="contactform" class="contact-form" method="post" novalidate="novalidate" action="#">
                            <!-- input -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputName">Name <sup>*</sup></label>
                                        <input type="text" name="name" class="form-control" id="inputName">
                                      </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputEmail">Email <sup>*</sup></label>
                                        <input type="text" name="email" class="form-control" id="inputEmail">
                                      </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="inputPhone">Phone </label>
                                        <input type="text" name="phone" class="form-control" id="inputPhone">
                                      </div>
                                </div>
                            </div>
                            <!-- /input -->
                            <!-- textarea -->
                            <div class="form-group">
                                <label for="textareaMessage">Message <sup>*</sup></label>
                                <textarea name="message"  class="form-control" rows="12"  id="textareaMessage"></textarea>
                           </div>
                           <!-- /textarea -->
                           <!-- button -->
                           <div class="pull-right note">* Required Fields</div>
                           <button class="btn btn--ys btn--xl btn-top" type="submit" id="submit">Send message</button>
                           <!-- /button -->
                        </form>
                    </div>
                </div>
            </section>
</template>

<script>
    export default {
        data() {
            return {
                contacts: [],
                url : window.base_url+'/api/contact',
            };
        },
        created: function () {
            this.getContact();
        },
        methods : {
            getContact : function(){
                $.getJSON(this.url, function(contacts){
                    console.log(contacts);
                    this.contacts.push.apply(this.contacts, contacts.data.contact)
                }.bind(this));
            },
            
        }
    }
</script>

<style lang="css">

</style>