<template lang="html">
    <ul class="nav navbar-nav">
        <li class="dl-close"><a href="#"><span class="icon icon-close"></span>close</a></li>                                        
        <li class="dropdown dropdown-mega-menu" v-for="category in categories">                                            
            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown"><span class="act-underline">{{category.name}}</span></a>
        </li>                                  
    </ul>
</template>

<script>
    export default {
        data() {
            return {
                categories: [],
                url : window.base_url+'/api/category',
            };
        },
        created: function () {
            this.getCategory();
        },
        methods : {
            getCategory : function () {
                $.getJSON(this.url, function(categories){
                    console.log(categories);
                    this.categories.push.apply(this.categories, categories.data.category);
                }.bind(this));
            },
            
        }
    }
</script>

<style lang="css">

</style>