.body{
    margin: 0;
}

.logo{
    height: 100px;
    text-align: center;
}

.meja{
    height: 100px;
    margin : 35px 0px;

}
.meja_number{
    height: 100%;
    border: 2px solid #6d1c1e;
    border-radius: 20px;
    text-align: center;
}
.tab-menu li {
    display: inline-block;
}
.menu{
    height: auto;
    text-align: center;
}
.menu_title{
    margin: 10px 0px;
}
.menu_img{
    height: 100px;
    border: 2px solid #6d1c1e;
    border-radius: 20px;
    margin: 20px 20px;
}
.s-select.s-plus-minus {
    border: 1px solid #ddd;
    height: 34px;
    line-height: 35px;
    margin: 0px 40px;
    padding: 0 10px;
    text-align: center;
}
.plus-minus-box {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    height: 33px;
    padding: 0;
    text-align: center;
    width: 20px;
}
.plus-minus {
    display: inline-block;
    cursor: pointer;
}
.dec.qtybutton ,.inc.qtybutton,.plus-minus-box {float: left;}
.dec.qtybutton {font-size: 17px;padding-right: 10px}
.inc.qtybutton {font-size: 14px;padding-left: 10px}

.con_bill{
    text-align: center;
    height: auto;
}
.bill{
    border: 4px solid #6d1c1e;
    border-radius: 10px;
    text-align: center;
    height: 450px;
    margin-bottom: 20px;
}
.line{
    border-bottom: dashed;
    margin: 5px 0px;
}
.line_bill{
    border-bottom: dashed;
}
.bill_header{
    height: auto;
    margin-bottom: 10px;
}
.header_img{
    margin-top: 10px;
    height: 60px;
}
.header_name{
    text-align: center;
}
.bill_main{
    text-align: left!important;
    font-size: 10pt;
    height: auto;
}
.main_name{
    font-size: 10pt;
}
.sosmed li{
    list-style-type: none;
}
.bill_footer{
    margin: 30px 0px;
}
.print{
   padding-top: 20px;
}
.print button{
    border-radius: 10px;
}
.print_struk{
    display: none;
}
.print_bill{
display: none!important;
}