

/* CONTAINERS */

.container-qty {max-width: 850px; width: 100%; margin: 0 auto; padding: 0px;}
.four { width: 100%;}


/* COLUMNS */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-of-type { margin-left: 0; }

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* FORM */

.form .plan input{
    display: none;
}

.form label{
    position: relative;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    height: 100px;
    line-height: 40px;
    display: block;
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form .plan input:checked + label{
    border: 2px solid #333;
    background-color: #e87500;
}

.form .plan input:checked + label:after{
    width: 30px;
    height: 30px;
    line-height: 23px;
    border-radius: 100%;
    border: 2px solid #333;
    background-color: #e87500;
    z-index: 999;
    position: absolute;
    top: -10px;
    right: -10px;

}